<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
<head>
    <title>The White Book</title>
    <style>
    	@font-face {
    		font-family: minecraft;
    		src: url({{STATIC_URL}}fonts/minecraft.ttf) format('truetype');
    	}
		* {
			font-weight: normal !important;
			font-family: minecraft !important;
			-webkit-border-radius: 0 !important;
			-moz-border-radius: 0 !important;
			  border-radius: 0 !important;
		}
    </style>
</head>
	<body style="margin: 0px">
		{% block content %}
		{% endblock %}
	</body>
</html>