{% extends "profile.html" %}

{% block navbar %}
<ul class="nav nav-pills nav-stacked navbar-inverse">
	<li>
		<a href="/stories/" class="" style="color: inherit; background-color: inherit; padding: initial;">
			<button class="btn btn-success nav-button">
				<span class="glyphicon glyphicon-book white"></span>
				Stories
			</button>
		</a>
	</li>
	<li>
		<a href="/players/" class="" style="color: inherit; background-color: inherit; padding: initial;">
			<button class="btn btn-warning nav-button">
				<span class="glyphicon glyphicon-user white"></span>
				Players
			</button>
		</a>
	</li>
	<li>
		<a href="/factions/" class="" style="color: inherit; background-color: inherit; padding: initial;">
			<button class="btn btn-danger nav-button active">
				<span class="glyphicon glyphicon-flag white"></span>
				Factions
			</button>
		</a>
	</li>
	<li>
		<a href="/chat/" class="" style="color: inherit; background-color: inherit; padding: initial;">
			<button class="btn btn-primary nav-button">
				<span class="glyphicon glyphicon-comment white"></span>
				Chat
			</button>
		</a>
	</li>
</ul>
{% endblock %}

{% block body %}
	<h1 style="text-align: center">
		<img src="{{STATIC_URL}}imgs/halfSwirlLeft.png" />
		<span>Edit Info</span>
		<img src="{{STATIC_URL}}imgs/halfSwirlRight.png" />
	</h1>
	<h2>{{faction.name}}</h2>
	<div>
		<h4>Motto</h4>
		<input class="form-control" id="faction-motto" value="{{faction.motto}}"></input>
		<div id="name-warnings"></div>
	</div>
	<div>
		<h4>Description</h4>
		<textarea class="form-control" id="faction-description" rows="3">{{faction.description}}</textarea>
		<div id="description-warnings"></div>
	</div>
	<button class="btn btn-danger" style="float: right;" onclick="editFaction();">Finish</button>
	<br>
	<br>
	<br>
{% endblock %}