{% extends "profile.html" %}

{% block navbar %}
<ul class="nav nav-pills nav-stacked navbar-inverse">
	<li>
		<a href="/stories/" class="" style="color: inherit; background-color: inherit; padding: initial;">
			<button class="btn btn-success nav-button">
				<span class="glyphicon glyphicon-book white"></span>
				Stories
			</button>
		</a>
	</li>
	<li>
		<a href="/players/" class="" style="color: inherit; background-color: inherit; padding: initial;">
			<button class="btn btn-warning nav-button active">
				<span class="glyphicon glyphicon-user white"></span>
				Players
			</button>
		</a>
	</li>
	<li>
		<a href="/factions/" class="" style="color: inherit; background-color: inherit; padding: initial;">
			<button class="btn btn-danger nav-button">
				<span class="glyphicon glyphicon-flag white"></span>
				Factions
			</button>
		</a>
	</li>
	<li>
		<a href="/chat/" class="" style="color: inherit; background-color: inherit; padding: initial;">
			<button class="btn btn-primary nav-button">
				<span class="glyphicon glyphicon-comment white"></span>
				Chat
			</button>
		</a>
	</li>
</ul>
{% endblock %}

{% block body %}
	<h1 style="text-align: center">
		<img src="{{STATIC_URL}}imgs/halfSwirlLeft.png" />
		<span>Players</span>
		<img src="{{STATIC_URL}}imgs/halfSwirlRight.png" />
	</h1>
	<center>
		{% for player in players %}
		<a href="/player/{{player.mc_username}}/" style="color: inherit; text-decoration: inherit">
				<div class="player-wrapper">
					<div style="margin: 10px">
						<img src="http://minotar.net/helm/{{player.mc_username}}/80" style="float: left"></img>
						<div style="position: relative; left: 10px">
							<ul class="nav nav-stacked" style="text-align: left;">
								<li class="nav-user-text">{{player.mc_username}}</li>
								<li class="nav-user-text">{{player.faction.name|default:"&nbsp;"}}</li>
								<li class="score">{{player.score}}</li>
							</ul>
						</div>
					</div>
				</div>
		</a>
		{% endfor %}
	</center>
	<br>
	<br>
	<br>
{% endblock %}