<div id="story{{story.id}}" style="margin-bottom: 50px">
	<div style="padding-bottom: 16px;">
			<div class="alert alert-info" style="position: relative;">
				{% autoescape off %}
				{{story.text}}
				{% endautoescape %}
				<div class="bubble"></div>
			</div>
		<div style="float: right; padding: 10px;">
			{% if request.user in story.userUpvotes.all %}
			<span class="glyphicon glyphicon-thumbs-down black" onClick="voteDown({{story.id}});"></span>
			<span class="score" style="padding: 0px 10px">{{story.score}}</span>
			<span class="glyphicon glyphicon-thumbs-up green" onClick="voteUp({{story.id}});"></span>
			{% elif request.user in story.userDownvotes.all %}
			<span class="glyphicon glyphicon-thumbs-down red" onClick="voteDown({{story.id}});"></span>
			<span class="score" style="padding: 0px 10px">{{story.score}}</span>
			<span class="glyphicon glyphicon-thumbs-up black" onClick="voteUp({{story.id}});"></span>
			{% else %}
			<span class="glyphicon glyphicon-thumbs-down black" onClick="voteDown({{story.id}});"></span>
			<span class="score" style="padding: 0px 10px">{{story.score}}</span>
			<span class="glyphicon glyphicon-thumbs-up black" onClick="voteUp({{story.id}});"></span>					
			{% endif %}
		</div>
		<a href="/player/{{story.author.mc_username}}/" style="color: inherit">
		<img src="http://minotar.net/helm/{{story.author.mc_username}}/50" style="float: left; padding-right: 5px"></img>
			<div style="padding: 5px 0px; float: left;">
				<span>
					{{story.author.mc_username}}
				</span><br>
				<span>
					{{story.datetime}}
				</span>
			</div>
		</a>
	</div>
</div>
